body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.preventSelect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#tuning {
    display: flex;
}

#scale {
    display: flex;
}

ul {
    height: 100px;
    width: 60px;
    overflow: hidden;
    list-style: none;
    border: 1px solid black;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    padding: 0;
    margin: 0;
    transition: 200ms ease-out;
}

.listItem0,
.listItem6 {
    font-size: 15px;
    min-height: 20px;
    opacity: 0.2;
}

.listItem1,
.listItem5 {
    font-size: 17px;
    min-height: 22px;
    opacity: 0.4;
}

.listItem2,
.listItem4 {
    font-size: 19px;
    min-height: 26px;
    opacity: 0.7;
}

.listItem3 {
    font-size: 20px;
    min-height: 27px;
    opacity: 1;
}

li button {
    padding: 0;
    margin: 0;
    background: none;
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

li button:active {
    color: red;
}