body {
    overflow: hidden;
}

td {
    width: 30px;
    height: 20px;
    border: 1px solid black;
}

.note {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lightgray;
}

.rootNote {
    background: darkcyan;
}